In [1]:
# Import necessary libraries
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighborhood
"

In [5]:
# Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
# Check the length of each column. Ideally, they should all be the same
[len(C) for (title,C) in col]

[181, 181, 181]

In [66]:
# Create the data frame
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [67]:
# Access the top 5 rows of the data frame 
df.head()

  Postal Code\n           Borough\n               Neighborhood\n
0         M1A\n      Not assigned\n                           \n
1         M2A\n      Not assigned\n                           \n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [68]:
# Cleaning the messy string in the Borough column
df = df.replace('\n',' ', regex=True)
df.head()

  Postal Code\n          Borough\n              Neighborhood\n
0          M1A       Not assigned
1          M2A       Not assigned
2          M3A         North York                   Parkwoods
3          M4A         North York            Victoria Village
4          M5A   Downtown Toronto   Regent Park, Harbourfront

In [69]:
# Dropping all cells with a borough that is Not assigned
df.drop(df.index[df['Borough\n'] == 'Not assigned '], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"

In [70]:
df.tail(10)

,Postal Code,Borough,Neighborhood
94,M9W,Etobicoke,"Northwest, West Humber - Clairville"
95,M1X,Scarborough,Upper Rouge
96,M4X,Downtown Toronto,"St. James Town, Cabbagetown"
97,M5X,Downtown Toronto,"First Canadian Place, Underground city"
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
103,,Canadian postal codes,

In [71]:
df = df[:-1]

In [72]:
# Combining Neighbourhoods based on similar Postcode and Borough
df = df.groupby(['Postal Code\n', 'Borough\n'])['Neighborhood\n'].apply(','.join).reset_index()
df.columns = ['Postal Code\n','Borough\n','Neighborhood\n']
df.head(100)

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park"
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge"
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West"
9,M1N,Scarborough,"Birch Cliff, Cliffside West"
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town..."
11,M1R,Scarborough,"Wexford, Maryvale"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Tam O'Shanter, Sullivan"
14,M1V,Scarborough,"Milliken, Agincourt North, Steeles East, L'Amo..."
15,M1W,Scarborough,"Steeles West, L'Amoreaux West"
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Henry Farm, Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"York Mills, Silver Hills"
21,M2M,North York,"Willowdale, Newtonbrook"
22,M2N,North York,"Willowdale, Willowdale East"
23,M2P,North York,York Mills West
24,M2R,North York,"Willowdale, Willowdale West"
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills
27,M3C,North York,Don Mills
28,M3H,North York,"Bathurst Manor, Wilson Heights, Downsview North"
29,M3J,North York,"Northwood Park, York University"
...,...,...,...
70,M5X,Downtown Toronto,"First Canadian Place, Underground city"
71,M6A,North York,"Lawrence Manor, Lawrence Heights"
72,M6B,North York,Glencairn
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dufferin, Dovercourt Village"
77,M6J,West Toronto,"Little Portugal, Trinity"
78,M6K,West Toronto,"Brockton, Parkdale Village, Exhibition Place"
79,M6L,North York,"North Park, Maple Leaf Park, Upwood Park"
80,M6M,York,"Del Ray, Mount Dennis, Keelsdale and Silverthorn"
81,M6N,York,"Runnymede, The Junction North"
82,M6P,West Toronto,"High Park, The Junction South"
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
88,M8V,Etobicoke,"New Toronto, Mimico South, Humber Bay Shores"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
91,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
92,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
93,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
94,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
95,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Humberlea, Emery"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount

In [74]:
# Removing any space in the start of the string
df['Neighborhood\n'] = df['Neighborhood\n'].str.strip()

In [75]:
# Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"
df.loc[df['Neighborhood\n'] == 'Not assigned ', 'Neighborhood\n'] = df['Borough\n']

In [76]:
# Check if the Neighbourhood for Queen's Park changed 
df[df['Borough\n'] == 'Queen\'s Park']

Empty DataFrame
Columns: [Postal Code
, Borough
, Neighborhood
]
Index: []

In [77]:
# Check the shape of the data frame
df.shape

(103, 3)

In [78]:
# Save this file to a csv
df.to_csv(r'df_can.csv')